body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (30em <= width <= 80em) {
  .box{
    margin: 1rem 4rem;
    padding:0;
    background-color: white;
    width: 100%;
    height: 100%;
    color: black;
    overflow-y: scroll;
    text-align: left;
    border: 1px solid grey;
    border-radius: .8rem;
    }
}
@media screen and (max-width: 60em) {
  .box{
    margin: 0 auto;
    padding: .5rem;
    background-color: white;
    width: 100%;
    height: 50%;
    max-height: 20rem;
    color: black;
    overflow: scroll;
    
    text-align: left;
    border-radius: .8rem;
    }
    ul{
      padding: 1rem;
      
    }
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
textarea{
  background-color: white;
  font-size: 20px;
  width: 50%;
  height: 100%;
  min-height: 100px;
  border: 2px solid grey;
  border-radius: .8rem;

}
button{
  border-radius: 8px;
  transition-duration: 0.4s;
  background-color: #78b77a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
button:hover {
  background-color: #3b833e; 
  color: white;
}